<h1>Loja</h1>

<div id="notice">
	<%=notice %>
</div>

<%= simple_form_for(Anuncio.new) do |f| %>
	<div class="form-inputs">
		<%=f.input :modelo %>
		<%=f.input :descricao %>
		<%=f.input :ano %>
		<%=f.input :valor %>
	</div>

	<div class="form-actions">
		<%=f.button :submit %>
	</div>
<% end %>

<hr />

<table>
	<tr>
		<th>Modelo</th>
		<th>Ano</th>
		<th>Valor</th>
		<th>Descrição</th>
	</tr>

	<%=render @anuncios %>

</table>

