<tr>
	<td><%=anuncio.modelo %></td>
	<td><%=anuncio.ano %></td>
	<td><%= valor_formatado anuncio.valor %></td>
	<td><%=anuncio.descricao %></td>
	<td><%=link_to "Editar", edit_anuncio_path(anuncio) %></td>
	<td><%=link_to "Excluir", delete_anuncio_path(anuncio), 
	method: "delete", 
	data: {confirm: "Quer realmente excluir ?"} %></td>
	<td><%=link_to "Aprovar", aprovar_anuncio_path(anuncio),
	method: "put" %></td>

</tr>		